<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DbConnectionString" value="Server=tcp:ks-demo-server.database.windows.net,1433;Initial Catalog=articles;Persist Security Info=False;User ID=ks-demo-server;Password=Lekapeh18;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="ServiceName" value="demo-ks"/>
    <add key="ApiKey" value="74B70A14D9CE477025094C5572534744"/>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ksdemo;AccountKey=8QPgNKvRzqlB21Y9KeeIleGHTGhum0p8zuJDMt31vSTgK90DFDiYjnZ534lLirSm0sooA2l97wEg0DLgM71UMQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>